/Makefile.conf
/neat
/experiment_*
/G*
/*out*
/obj
/bin
/tmp/
.#*
/gold*/
/src/util/std.h.gch

.vs
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Debug
run_cmake.bat
accneat-config.cmake
accneat-targets.cmake
*.sln